h2 {
    padding: 0 0 0 10px;
}

.field {
    margin: 10px;
    padding: 5px 0 10px 0;
}

input:invalid {
    border: solid #f10909;
}

input:valid {
    border: solid #096af1;
}

form {
    border: solid grey;

}

.btn {
    width: 100px;
    height: 20px;
    padding: 12px;

}

form>div>span.error {
    display: none;
    font-size: 0.8em;
    position: absolute;
}

form>div>input:invalid:not(:focus):not(:placeholder-shown)~.error {
    display: block;
    color: red;
}