#myCanvas {
    border: 1px solid #000;
}


.label {
    font: 12px Arial;
    color: black;
}


.sentence {
    font-weight: bold;
    font-size: 16px;
    color: black;
}


.formula {
    font-style: italic;
    font-size: 20px;
    color: red;
}
